.card-hist-container {
  margin: auto 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-name {
  font-size: 1.25rem;
}

.side-card-img {
  display: block;
}

.card-data {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.hist-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}

.hist-button {
  color: white;
  background-color: blue;
  border: none;
  border-radius: 15%;
  width: 10%;
  height: 2rem;
}

.hist-button:hover {
  cursor: pointer;
  opacity: 0.5;
}

[disabled].hist-button {
  opacity: 0.2;
}

[disabled].hist-button:hover {
  cursor: default;
}
