.tcg-img-container {
  display: block;
}

.tcg-img {
  display: block;
  width: 500px;
  height: 195px;
  /* max-height: 200px; */
}

.tcg-card:hover {
  transform: scale(1.05);
  transition: 0.3s ease;
}
