.home {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.home-text {
  max-width: 66%;
}

.home-text h2 {
  font-size: 1.75rem;
  margin-bottom: 2rem;
}

.home-text p {
  font-size: 1.2rem;
}

.links-container {
  margin-top: 2rem;
  display: flex;
  gap: 5vw;
}

.github-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5vh;
  font-size: 1.2rem;
}

.github-icon {
  font-size: 2.5rem;
  border-radius: 20px;
}

.github-icon:hover {
  background-color: #f4d35b;
}
